<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>
  <entry key="props">db</entry>
  <entry key="jdbc.url">jdbc:mysql://mysql-app:3306/appoxee</entry>
  <entry key="jdbc.user">{{ mysql_user }}</entry>
  <entry key="jdbc.pass">{{ mysql_pass }}</entry>

</properties>
